:root {
    --doc-height: 100%;
    --random-top: 0;
    --random-left: 0;
    --txt-color: #0f0f0f;
    --bg-color: #ffffff;
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

body {
    overflow: hidden;
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    color: #0f0f0f;
}

h1 {
    font-family: "Oswald";
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
}

img {
    width: 100%;
}

a {
    cursor: pointer;
    position: relative;
}

a::before,
a::after {
    position: absolute;
    width: 100%;
    height: 1px;
    background: #0f0f0f;
    top: 100%;
    left: 0;
    pointer-events: none;
}

a::before {
    content: "";
    -webkit-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1);
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    -o-transition: transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
}

a:hover::before {
    -webkit-transform-origin: 0% 50%;
    -ms-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}

.no-style::before,
.no-style::after {
    content: none;
}

#header {
    height: 10%;
    width: calc(100% - 20px);
    position: fixed;
    bottom: 0;
    left: 10px;
    border-top: solid 1px #0f0f0f;
    background-color: #fff;
    z-index: 999;
}

.header-inner {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 10px;
    font-family: "Oswald";
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
}

.header-inner a,
.header-inner h1 {
    font-family: "Oswald";
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3;
    text-transform: uppercase;
    padding-bottom: 2px;
}

#container {
    width: 100%;
    height: var(--doc-height);
    position: relative;
    overflow: hidden;
}

#container.inhibit {
    pointer-events: none;
}

.main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 90%;
    width: 100%;
    overflow: hidden;
}

.main-content {
    width: 60%;
    overflow-y: scroll;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}



/* .page-item {
    width: calc(60% - 10px);
}

.main-hero {
    padding: 0 10px;
} */

/* HOMEPAGE */

.main-hero-wrapper {
    padding: 0 10px;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.main-hero-wrapper:not(:last-of-type) {
    margin-bottom: 50px;
}

.main-hero-image {
    display: grid;
    gap: 12px;
    grid-auto-flow: column;
    margin-bottom: 10px;
}

.main-hero-text {
    padding: 10px;
}

.main-hero-text h2 {
    font-family: "Oswald";
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.main-hero-text p {
    margin-bottom: 10px;
}

.main-hero-text p:last-child {
    margin-bottom: 0;
}

.list-content,
.media-content {
    width: 20%;
    overflow-y: scroll;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.media-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* .main-images,
.main-agenda,
.page-images,
.page-menu,
.list-column {
    width: 20%;
    overflow-y: scroll;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
} */

/* .main-images {
    z-index: 2;
} */

/* .media-wrapper img,
.page-images-wrapper img {
    margin-bottom: 5px;
} */

.agenda {
    padding: 10px;
    order: 3;
}

/* .main-images::-webkit-scrollbar,
.main-agenda::-webkit-scrollbar,
.main-hero::-webkit-scrollbar,
.page-item::-webkit-scrollbar,
.page-images::-webkit-scrollbar,
.page-menu::-webkit-scrollbar,
.about::-webkit-scrollbar,
.info::-webkit-scrollbar {
    display: none;
} */

/* .agenda-wrapper   {
    margin-bottom: 20px;
}

.agenda-wrapper:last-child {
    margin-bottom: 0;
} */

.agenda-wrapper:not(:last-of-type) {
    margin-bottom: 20px;
}

.agenda-wrapper p:nth-child(1) {
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.agenda-wrapper p:nth-child(2) {
    font-family: "Oswald";
    font-weight: 400;
    text-transform: uppercase;
    font-size: 16px;
}

/* .move-to-right {
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.move-to-right:hover {
    transform: translateX(10px);
} */

.move-to-top {
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.move-to-top:hover {
    transform: translateY(-10px);
}

/* .lily {
    width: 20px;
    height: 20px;
    margin: 0 20px;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 5px 2px #ffb500;
    box-shadow: 0 0 5px 2px #ffb500;
}

.lily:hover {
    animation: logo-style 4s ease-in-out infinite alternate-reverse;
    -webkit-animation: logo-style 4s ease-in-out infinite alternate-reverse;
    -moz-animation: logo-style 4s ease-in-out infinite alternate-reverse;
}

.lily::before,
.lily::after, */
.mu::before,
.mu::after {
    content: none;
}

.mu {
    width: 40px;
}

.about {
    width: 60%;
    height: 80%;
    position: absolute;
    top: 45%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 999;
    background-color: #fff;
    overflow-y: hidden;
    opacity: 0;
    pointer-events: none;
    border: solid 1px #0f0f0f;
    -webkit-box-shadow: 0 0 15px 5px #fff;
    box-shadow: 0 0 15px 5px #fff;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.about-wrapper {
    height: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 14px;
}

.info {
    width: 50%;
    max-height: 80%;
    position: absolute;
    top: 45%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 999;
    background-color: #fff;
    overflow-y: scroll;
    opacity: 0;
    pointer-events: none;
    border: solid 1px #0f0f0f;
    -webkit-box-shadow: 0 0 15px 5px #fff;
    box-shadow: 0 0 15px 5px #fff;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    display: flex;
}

.info-wrapper {
    height: 100%;
    position: relative;
}

.about-content,
.about-image {
    width: 50%;
}

.info-content {
    width: 100%;
}

.about-content,
.info-content {
    padding: 10px;
}

.about-content-text p,
.info-content-text p {
    margin-bottom: 20px;
}

.about-captions {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 12px;
}

.about-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.about-contact {
    padding: 10px;
}

.about-contact-link:last-child {
    margin-top: 20px;
}

.about-close,
.info-close {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 16px;
    color: #0f0f0f;
    cursor: pointer;
    padding: 10px;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.about-close {
    position: absolute;
    top: 0;
    right: 0;
}

.about.open,
.info.open {
    opacity: 1;
    pointer-events: all;
}

/* .page {
    height: calc(100% - 10%);
} */

.page-menu,
.page-items {
    padding: 10px;
}

.page-menu-item {
    margin-bottom: 8px;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
}

.page-menu-item:last-child {
    margin-bottom: 0;
}

/* .page-menu-info {
    position: fixed;
    bottom: calc(10% + 10px);
    left: 10px;
    height: 10%;
    width: 20%;
    background-color: #fff;
    border-top: solid 1px #0f0f0f;
} */

.light-font {
    font-family: "Fira Sans", sans-serif;
    font-weight: 200;
}

.page-item-wrapper {
    margin: 10px 10px 10px 10px;
    padding: 30px;
    border: solid 1px #0f0f0f;
    box-shadow: 0px 0px 5px 0 #0f0f0f;
}

.caveja-item {
    box-shadow: none;
}

.page-item-wrapper div,
.page-item-text h2 {
    margin-bottom: 30px;
}

.page-item-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;
    height: 15%;
    width: auto;
}

.page-item-icons img {
    height: 100%;
    width: auto;
}

.page-item-text,
.page-item-notes {
    font-size: 14px;
}

.page-item-wrapper sup {
    font-size: 10px;
}

.page-item-title {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
}

.download-btn {
    font-family: "Oswald";
    font-weight: 400;
    text-transform: uppercase;
    font-size: 16px;
}

#header-mobile,
#menu-mobile {
    display: none;
}

/* new */

.item {
    margin-bottom: 8px;
}

.item:last-of-type {
    margin-bottom: 0;
}

.item a {
    margin-bottom: 8px;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
}

.item-content {
    width: 45%;
    max-height: 80%;
    position: absolute;
    top: var(--random-top);
    left: var(--random-left);
    /* -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); */
    z-index: 999;
    background-color: #fff;
    overflow-y: scroll;
    opacity: 0;
    pointer-events: none;
    display: none;
    border: solid 1px #0f0f0f;
    -webkit-box-shadow: 0 0 15px 5px #fff;
    box-shadow: 0 0 15px 5px #fff;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.item-content.open {
    opacity: 1;
    pointer-events: all;
    display: flex;
}

@media screen and (max-width: 600px) {
    body {
        overflow-y: scroll;
    }

    body::-webkit-scrollbar {
        display: none;
    }

    .home {
        height: 100%;
        display: block;
    }

    #container.inhibit {
        display: none;
    }

    .main {
        display: block;
    }

    .main-hero,
    .main-images,
    .main-agenda {
        width: 100%;
    }

    .main-agenda {
        padding: 20px;
        position: relative;
    }

    .main-agenda::before {
        content: '';
        position: absolute;
        width: calc(100% - 20px);
        height: 1px;
        background: #0f0f0f;
        top: 0;
        left: 10px;
        pointer-events: none;
    }

    .media-wrapper {
        padding: 0 10px;
    }

    #header-mobile {
        display: block;
        height: 10%;
        width: calc(100% - 20px);
        position: fixed;
        bottom: 0;
        left: 10px;
        border-top: solid 1px #0f0f0f;
        background-color: #fff;
        z-index: 999;
    }

    .about.open,
    .info.open {
        overflow-y: scroll;
    }

    #menu-mobile {
        display: block;
        height: auto;
        width: 100%;
        position: fixed;
        bottom: 10%;
        left: 0;
        background-color: #fff;
        z-index: 999;

        opacity: 0;
        pointer-events: none;
        -webkit-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    #menu-mobile::before {
        content: '';
        position: absolute;
        width: calc(100% - 20px);
        height: 1px;
        background: #0f0f0f;
        top: 0;
        left: 10px;
        pointer-events: none;
    }

    #menu-mobile.open {
        opacity: 1;
        pointer-events: all;
    }

    .menu-mobile-inner {
        height: 100%;
        width: 100%;
        font-family: "Oswald", sans-serif;
        font-weight: 400;
        font-size: 16px;
        text-transform: uppercase;
        padding: 10px 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .menu-mobile-inner a:nth-of-type(odd) {
        justify-self: start;
    }

    .menu-mobile-inner a:nth-of-type(even) {
        justify-self: end;
    }

    .lily {
        margin: 0;
    }

    .about {
        width: 100%;
        height: 90%;
        position: fixed;
        top: 0;
        left: 0;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        border: none;
    }

    .about-wrapper {
        display: block;
        height: 80%;
    }

    .about-content {
        padding: 50px 10px 10px 10px;
    }

    .about-content,
    .about-image {
        width: 100%;
    }

    .about-captions {
        position: static;
    }

    .about-image img {
        padding: 10px 10px 0 10px;
    }

    #container {
        display: block;
        overflow-y: scroll;
        width: 100%;
        position: static;
        padding-top: 10px;
    }

    #container::-webkit-scrollbar {
        display: none;
    }


    .page-menu {
        display: none;
    }

    .page-images {
        width: 100%;
        padding: 0 10px;
    }

    .page-images-wrapper {
        padding: 0;
        margin: 0;
    }

    .page-item {
        width: 100%;
    }

    .move-to-right {
        padding: none;
    }

    .info {
        width: 100%;
        height: 90%;
        position: fixed;
        top: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        border: none;
    }

    .info-wrapper {
        display: block;
        height: 80%;
    }

    .info-content {
        width: 100%;
        padding: 50px 10px 10px 10px;
    }

    .about-close,
    .info-close {
        position: fixed;
    }
}