* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    overflow: hidden;
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    color: #0f0f0f;
    animation: fade-in 1.5s 1 ease;
}

a::-moz-selection, 
p::-moz-selection, 
h1::-moz-selection, 
h2::-moz-selection, 
span::-moz-selection, 
br::-moz-selection, 
sup::-moz-selection, 
img::-moz-selection, 
div::-moz-selection {
    color: #ffb500;
}

a::selection,
p::selection,
h1::selection,
h2::selection,
span::selection,
br::selection,
sup::selection,
img::selection,
div::selection {
    color: #ffb500;
}

a {
    color:#0f0f0f;
    text-decoration: none;
}

a:visited {
    color: #0f0f0f;
}

h1 {
    font-family: "Oswald";
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
}

img {
    width: 100%;
}

@-webkit-keyframes logo-style {
    0% { background-color: #ffb500; }
    25% { background-color: #0f52fb; }
    50% { background-color: #ee69f8; }
    75% { background-color: #0f52fb; }
    100% { background-color: #ffb500; }
}

@keyframes logo-style {
    0% { background-color: #ffb500; }
    25% { background-color: #0f52fb; }
    50% { background-color: #ee69f8; }
    75% { background-color: #0f52fb; }
    100% { background-color: #ffb500; }
}

@-webkit-keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

#header {
    height: 10vh;
    width: calc(100vw - 20px);
    position: fixed;
    bottom: 0;
    left: 10px;
    border-top: solid 1px #0f0f0f;
    background-color: #fff;
    z-index: 999;
}

.header-inner {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 10px;
    font-family: "Oswald";
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
}

.header-inner a,
.header-inner h1 {
    font-family: "Oswald";
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3;
    text-transform: uppercase;
    padding-bottom: 2px;
}

.link {
    cursor: pointer;
    position: relative;
}

.link::before,
.link::after {
    position: absolute;
    width: 100%;
    height: 1px;
    background: #0f0f0f;
    top: 100%;
    left: 0;
    pointer-events: none;
}

.link::before {
    content: '';
}

.link::before {
    -webkit-transform-origin: 100% 50%;
        -ms-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
    -webkit-transform: scale3d(0, 1, 1);
            transform: scale3d(0, 1, 1);
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    -o-transition: transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
}

.link:hover::before {
    -webkit-transform-origin: 0% 50%;
        -ms-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
}

.home {
    height: 100vh;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
}

#container.inhibit {
    pointer-events: none;
}

.main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    width: 100%;
    overflow: hidden;
    margin-bottom: calc(10vh - 1px);
}

.main-hero,
.page-item {
    width: 60vw;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.page-item {
    width: calc(60vw - 10px);
}

.main-hero {
    padding: 0 10px;
}

.main-hero div {
    margin-bottom: 20px;
}

.main-hero div:last-child {
    margin-bottom: 0;
}

.main-hero-image {
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.main-hero-text {
    padding: 10px;
}

.main-hero-text h2 {
    font-family: "Oswald";
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.main-images,
.main-agenda,
.page-images,
.page-menu {
    width: 20vw;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.main-images {
    z-index: 2;
}

.main-images-wrapper img,
.page-images-wrapper img {
    margin-bottom: 5px;
}

.main-images-wrapper img:last-child,
.page-images-wrapper img:last-child {
    margin-bottom: -5px;
}

.main-agenda {
    padding: 10px;
    order: 3;
}

.main-images::-webkit-scrollbar,
.main-agenda::-webkit-scrollbar,
.main-hero::-webkit-scrollbar,
.page-item::-webkit-scrollbar,
.page-images::-webkit-scrollbar,
.page-menu::-webkit-scrollbar,
.about::-webkit-scrollbar,
.info::-webkit-scrollbar {
    display: none;
}

.main-agenda-wrapper {
    margin-bottom: 20px;
}

.main-agenda-wrapper:last-child {
    margin-bottom: 0;
}

.main-agenda-wrapper p,
.main-agenda-wrapper a {
    font-size: 14px;
}

.main-agenda-wrapper p:nth-child(1) {
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.main-agenda-wrapper p:nth-child(2) {
    font-family: "Oswald";
    font-weight: 400;
    text-transform: uppercase;
    font-size: 16px;
}

.move-to-right {
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.move-to-right:hover {
    transform: translateX(10px);
}

.move-to-top {
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.move-to-top:hover {
    transform: translateY(-10px);
}

.lily {
    width: 20px;
    height: 20px;
    margin: 0 20px;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 5px 2px #ffb500;
            box-shadow: 0 0 5px 2px #ffb500;
}

.lily:hover {
    animation: logo-style 4s ease-in-out infinite alternate-reverse;
    -webkit-animation: logo-style 4s ease-in-out infinite alternate-reverse;
    -moz-animation: logo-style 4s ease-in-out infinite alternate-reverse;
}

.about {
    width: 60vw;
    height: 80vh;
    position: absolute;
    bottom: 14vh;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    z-index: 999;
    background-color: #fff;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    opacity: 0;
    pointer-events: none;
    border: solid 1px #0f0f0f;
    -webkit-box-shadow: 0 0 15px 5px #fff;
            box-shadow: 0 0 15px 5px #fff;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.about-wrapper {
    height: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 14px;
}

.info {
    width: 30vw;
    height: 84vh;
    position: absolute;
    bottom: 12vh;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    z-index: 999;
    background-color: #fff;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    opacity: 0;
    pointer-events: none;
    border: solid 1px #0f0f0f;
    -webkit-box-shadow: 0 0 15px 5px #fff;
            box-shadow: 0 0 15px 5px #fff;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.info-wrapper {
    height: 100%;
    position: relative;
}

.about-content,
.about-image {
    width: 50%;
}

.info-content {
    width: 80%;
}

.about-content,
.info-content {
    padding: 10px;
}

.about-content-text p,
.info-content-text p {
    margin-bottom: 20px;
}

.about-captions {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 12px;
}

.about-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.about-contact {
    padding: 10px;
}

.about-contact a {
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.about-contact a:hover {
    padding-left: 15px;
}

.about-close,
.info-close {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 16px;
    position: absolute;
    top: 10px;
    right: 10px;
    color: #0f0f0f;
    cursor: pointer;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.about.open,
.info.open {
    opacity: 1;
    pointer-events: all;
}

.page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: calc(100vh - 10vh);
    width: auto;
    overflow: hidden;
}

.page-menu {
    padding: 10px 10px 0 10px;
    position: relative;
}

.page-menu-item {
    list-style-type: none;
    margin-bottom: 8px;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
}

.page-menu-item:last-child {
    margin-bottom: 0;
}

.page-menu-info {
    position: fixed;
    bottom: calc(10vh + 10px);
    left: 10px;
    height: 10vh;
    width: 20vw;
    background-color: #fff;
    border-top: solid 1px #0f0f0f;
}

.light-font {
    font-family: "Fira Sans", sans-serif;
    font-weight: 200;
}

.page-item-wrapper {
    margin: 10px 10px 10px 10px;
    padding: 30px;
    border: solid 1px #0f0f0f;
    box-shadow: 0px 0px 5px 0 #0f0f0f;
}

.page-item-wrapper div,
.page-item-text h2 {
    margin-bottom: 30px;
}

.page-item-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-between;
        -ms-flex-pack: space-between;
            justify-content: space-between;
    height: 15vh;
    width: auto;
}

.page-item-icons img {
    height: 100%;
    width: auto;
}

.page-item-text,
.page-item-notes {
    font-size: 14px;
}

.page-item-wrapper sup {
    font-size: 10px;
}

.page-item-title {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
}

.download-btn {
    font-family: "Oswald";
    font-weight: 400;
    text-transform: uppercase;
    font-size: 16px;
}

#header-mobile,
#menu-mobile {
    display: none;
}

@media screen and (max-width: 600px){
    body {
        overflow-y: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    body::-webkit-scrollbar {
        display: none;
    }

    .home {
        height: 100%;
        display: block;
    }

    #container.inhibit {
        display: none;
    }

    .main {
        display: block;
    }

    .main-hero,
    .main-images,
    .main-agenda {
        width: 100vw;
    }

    .main-agenda {
        padding: 20px;
        position: relative;
    }

    .main-agenda::before {
        content: '';
        position: absolute;
        width: calc(100vw - 20px);
        height: 1px;
        background: #0f0f0f;
        top: 0;
        left: 10px;
        pointer-events: none;
    }

    .main-images-wrapper {
        padding: 0 10px;
        margin-bottom: 0;
    }

    #header-mobile {
        display: block;
        height: 10vh;
        width: calc(100vw - 20px);
        position: fixed;
        bottom: 0;
        left: 10px;
        border-top: solid 1px #0f0f0f;
        background-color: #fff;
        z-index: 999;
    }
    
    #menu-mobile {
        display: block;
        height: 10vh;
        width: 100vw;
        position: fixed;
        bottom: 10vh;
        left: 0;
        background-color: #fff;
        z-index: 999;

        opacity: 0;
        pointer-events: none;
        -webkit-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    #menu-mobile::before {
        content: '';
        position: absolute;
        width: calc(100vw - 20px);
        height: 1px;
        background: #0f0f0f;
        top: 0;
        left: 10px;
        pointer-events: none;
    }

    #menu-mobile.open {
        opacity: 1;
        pointer-events: all;
    }

    .menu-mobile-inner {
        height: 100%;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        padding: 10px 20px;
        font-family: "Oswald", sans-serif;
        font-weight: 400;
        font-size: 16px;
        text-transform: uppercase;
        -ms-flex-line-pack: center;
            align-content: center;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    }

    .lily {
        margin: 0;
    }

    .about {
        width: 100vw;
        height: 80vh;
        position: fixed;
        top: 0;
        left: 0;
        -webkit-transform: none;
            -ms-transform: none;
                transform: none;
        -webkit-box-shadow: none;
                box-shadow: none;
        border: none;
    }

    .about-wrapper {
        display: block;
        height: 80vh;
    }

    .about-content {
        padding: 50px 10px 10px 10px;
    }

    .about-content,
    .about-image {
        width: 100%;
    }

    .about-captions {
        position: static;
    }

    .about-image img {
        padding: 10px 10px 0 10px;
    }

    .page {
        display: block;
        overflow-y: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
        width: 100vw;
        position: static;
        padding-top: 10px;
    }

    .page::-webkit-scrollbar {
        display: none;
    }
    

    .page-menu {
        display: none;
    }

    .page-images {
        width: 100vw;
        padding: 0 10px;
    }

    .page-images-wrapper {
        padding: 0;
        margin: 0;
    }

    .page-item {
        width: 100vw;
    }

    .move-to-right {
        padding: none;
    }

    .info {
        width: 100vw;
        height: 80vh;
        position: fixed;
        top: 0;
        -webkit-box-shadow: none;
                box-shadow: none;
        border: none;
    }

    .info-wrapper {
        display: block;
        height: 80vh;
    }

    .info-content {
        width: 100%;
        padding: 50px 10px 10px 10px;
    }

    .about-close, 
    .info-close {
        position: fixed;
    }
}