@keyframes title-style {
    0% { background-color: #ffb500; }
    25% { background-color: #0f52fb; }
    50% { background-color: #ee69f8; }
    75% { background-color: #0f52fb; }
    100% { background-color: #ffb500; }
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    overflow: hidden;
    font-family: "acumin-pro", sans-serif;
    font-size: 14px;
    line-height: 1.4;
    color: #0f0f0f;
}

a::selection,
p::selection,
h1::selection,
h2::selection,
span::selection,
sup::selection,
img::selection,
div::selection {
    color: #ffb500;
}

a {
    color:#0f0f0f;
    text-decoration: none;
}

a:visited {
    color: #0f0f0f;
}

.current {
    background-color: yellow;
}

#header {
    height: 10vh;
    width: calc(100vw - 20px);
    position: fixed;
    bottom: 0;
    left: 10px;
    border-top: solid 1px #0f0f0f;
    background-color: #fff;
    z-index: 999;
}

.header-inner {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 10px;
    font-family: "acumin-pro-condensed";
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
}

.header-inner h1 {
    font-family: "acumin-pro-condensed";
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
}

.link {
    cursor: pointer;
    position: relative;
}

.link::before,
.link::after {
    position: absolute;
    width: 100%;
    height: 1px;
    background: #0f0f0f;
    top: 100%;
    left: 0;
    pointer-events: none;
}

.link::before {
    content: '';
    /* show by default */
}

.link-home::before,
.link-about::before,
.link-pietre::before,
.link-email::before {
    transform-origin: 100% 50%;
    transform: scale3d(0, 1, 1);
    transition: transform 0.3s;
}

.link-home:hover::before,
.link-about:hover::before,
.link-pietre:hover::before,
.link-email:hover::before {
    transform-origin: 0% 50%;
    transform: scale3d(1, 1, 1);
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.main {
    display: flex;
    height: auto;
    width: 100%;
    overflow: hidden;
    margin-bottom: calc(10vh - 1px);
}

.main-hero,
.page-item {
    height: 100%;
    width: 60vw;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    transition: all 0.5s ease;
}

.main-hero {
    padding: 0 0 20px 10px;
}

.main-hero div {
    margin-bottom: 20px;
}

.main-hero div:last-child {
    margin-bottom: 0;
}

.main-hero-image {
    padding-right: 10px;
    transition: all 0.5s ease;
}

.main-hero-text {
    padding: 0 10px;
}

.main-hero-text h2 {
    font-family: "acumin-pro-wide";
    font-size: 14px;
    font-weight: 900;
    line-height: 1;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.main-images,
.main-agenda,
.page-images,
.page-menu {
    width: 20vw;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    transition: all 0.5s ease;
}

.main-images {
    z-index: 2;
}

.main-images-wrapper {
    margin-bottom: 20px;
}

.main-images-wrapper img,
.page-images-wrapper img {
    margin-bottom: 5px;
}

.main-images-wrapper img:last-child {
    margin-bottom: -5px;
}

.main-agenda {
    padding: 10px 20px 20px 10px;
}

.main-images::-webkit-scrollbar,
.main-agenda::-webkit-scrollbar,
.main-hero::-webkit-scrollbar,
.page-item::-webkit-scrollbar,
.page-images::-webkit-scrollbar,
.page-menu::-webkit-scrollbar {
    display: none;
}

.main-agenda-wrapper {
    margin-bottom: 20px;
}

.main-agenda-wrapper:last-child {
    margin-bottom: 0;
}

.main-agenda-wrapper p,
.main-agenda-wrapper a {
    font-size: 14px;
}

.main-agenda-wrapper p:nth-child(1) {
    font-family: "acumin-pro-wide";
    font-weight: 900;
    font-size: 14px;
    text-transform: uppercase;
}

.main-agenda-wrapper p:nth-child(2) {
    font-family: "acumin-pro-condensed";
    font-weight: 700;
    text-transform: uppercase;
    font-size: 16px;
}

.move-to-right {
    transition: all 0.5s ease;
}

.move-to-right:hover {
    padding-left: 20px;
}

.move-to-top {
    transition: all 0.5s ease;
}

.move-to-top:hover {
    margin-top: -20px;
}

.lily {
    width: 20px;
    height: 20px;
    margin: 0 20px;
    border-radius: 50%;
    box-shadow: 0 0 5px 2px #ffb500;
}

.lily:hover {
    animation: title-style 4s ease-in-out infinite alternate-reverse;
    -webkit-animation: title-style 4s ease-in-out infinite alternate-reverse;
    -moz-animation: title-style 4s ease-in-out infinite alternate-reverse;
}

.about {
    width: 60vw;
    height: 80vh;
    position: absolute;
    bottom: 14vh;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 999;
    background-color: #fff;
    font-size: 14px;
    display: flex;
    opacity: 0;
    pointer-events: none;
    border: solid 1px #0f0f0f;
    box-shadow: 0 0 15px 5px #fff;
    transition: all 0.5s ease;
}

.info {
    width: 30vw;
    height: 80vh;
    position: absolute;
    bottom: 14vh;
    right: 20px;
    z-index: 999;
    background-color: #fff;
    font-size: 14px;
    opacity: 0;
    pointer-events: none;
    border: solid 1px #0f0f0f;
    box-shadow: 0 0 15px 5px #fff;
    transition: all 0.5s ease;
}

.about-content,
.about-image {
    width: 50%;
}

.info-content {
    width: 80%;
}

.about-content,
.info-content {
    padding: 10px;
}

.about-content-text p,
.info-content-text p {
    margin-bottom: 20px;
}

.about-captions {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 12px;
}

.about-image {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about-contact {
    padding: 10px;
}

.about-contact a {
    transition: all 0.5s ease;
}

.about-contact a:hover {
    padding-left: 15px;
}

.about-close,
.info-close {
    font-family: "acumin-pro-condensed";
    font-weight: 700;
    text-transform: uppercase;
    font-size: 16px;
    position: absolute;
    top: 10px;
    right: 10px;
    color: #0f0f0f;
    cursor: pointer;
    transition: all 0.5s ease;
}

.about-close:hover,
.info-close:hover {
    padding-right: 10px;
}

.about.open,
.info.open {
    opacity: 1;
    pointer-events: all;
}

.page {
    display: flex;
    height: calc(100vh - 10vh);
    width: auto;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
}

.page-menu {
    padding: 10px 20px 0 10px;
    position: relative;
}

.page-menu-item {
    list-style-type: none;
    padding-bottom: 10px;
    font-family: "acumin-pro-wide";
    font-weight: 900;
    font-size: 14px;
    text-transform: uppercase;
    hyphens: manual;
}

.page-menu-item:last-child {
    margin-bottom: 0;
}

.page-menu-info {
    position: fixed;
    bottom: calc(10vh + 10px);
    left: 10px;
    height: 10vh;
    width: 20vw;
    background-color: #fff;
    border-top: solid 1px #0f0f0f;
}

.light-font {
    font-family: "acumin-pro", sans-serif;
    font-weight: 200;
}

.page-item-wrapper {
    margin: 0 10px 10px 10px;
    padding: 20px;
    border: solid 1px #0f0f0f;

    /* -ms-scroll-snap-type: y mandatory; */
    /* scroll-snap-type: y mandatory; */
}

.page-item-wrapper div,
.page-item-text h2 {
    margin-bottom: 50px;
}

.page-item-icons {
    display: flex;
    justify-content: flex-start;
    height: 15vh;
}

.page-item-icons img {
    margin-right: 50px;
}

.page-item-text,
.page-item-notes {
    font-size: 14px;
}

.page-item-wrapper sup {
    font-size: 10px;
}

.page-item-title {
    font-family: "acumin-pro-wide", sans-serif;
    font-weight: 900;
    font-size: 14px;
}

.download-btn {
    font-family: "acumin-pro-condensed";
    font-weight: 700;
    text-transform: uppercase;
    font-size: 16px;
}

.page-images {
    padding: 10px 10px 20px 0;
}

.page-images-wrapper {
    margin-bottom: 10px;
}

.page-images-notes {
    font-size: 14px;
    padding-right: 10px;
}

.page-images-description {
    margin-top: 10px;
    padding-right: 10px;
}